
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bai3</title>
</head>
<body>
    <table border="1" cellpadding="10" cellspacing="10" width="1000">
        <tr>
            <td colspan="5">THÔNG TIN SINH VIÊN</td>
        </tr>
        <tr>
            <td rowspan="4" align="center" width="35%">
                <img src="~/Content/images/batman.jpg" width="200" />
            </td>
            <td align="left" width="20%">HỌ VÀ TÊN</td>
            <td colspan="3" align="left">Phạm Tuấn Phong</td>
        </tr>
        <tr>
            <td align="left" width="30%">MÃ SỐ SINH VIÊN</td>
            <td width="10%">23DH112654</td>
            <td width="30%">GIỚI TÍNH</td>
            <td width="10%">NAM</td>
        </tr>
        <tr>
            <td align="left" width="30%">EMAIL</td>
            <td width="10%">phamtuanphongbatribentre@gmail.com</td>
            <td width="30%">SỐ ĐIỆN THOẠI</td>
            <td width="10%">0973234398</td>
        </tr>
        <tr>
            <td align="left" width="30%">SỞ THÍCH</td>
            <td colspan="3" align="left"><b>VIẾT CHƯƠNG TRÌNH</b></td>
        </tr>
    </table>
</body>
</html>
